@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
  --body-bg-color: #e5f4f9;
  --body-color-light: #8b939c;
  --body-font: "Roboto", sans-serif;
  --page-bg-color: #f2f5f7;
  --body-color: #3d4954;
  --border-color: #b8bec3;
  --placeholder: #ccd0d2; 
}


.header, .browse, .browse-category, .profile, .profile-menu, .main-menu, .author, .year-book, .likes {
  display: flex;
  align-items: center;
}


.main_menu {
	position:relative;
	margin-left: 100px;
	width: 45%;
}

.main_menu span {
	font-weight:200;
	font-size:160%;
	width:100%;
	height:100%;
}
.menu_pc, .menu_ps4, .menu_xbox  {
	cursor : pointer;
	margin-right: 17%;
}
.menu_switch {
	cursor : pointer;
}

.main_menu span:hover {
	color:var(--body-color);
	border-bottom:1px solid var(--body-color)
}


.books-of {
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.book-rate > label {
  color: #cccccc;
}

.rate {
  display: inline-block;
  white-space: nowrap;
 
}


.book-rate > input:checked ~ label,
.book-rate:not(:checked) > label:checked,
.book-rate:not(:checked) > label:checked ~ label {
  color: #ff9700;
}

.book-rate > input:checked + label:checked,
.book-rate > input:checked ~ label:checked,
.book-rate > label:checked ~ input:checked ~ label,
.book-rate > input:checked ~ label:checked ~ label {
  color: #ff9700;
}

@media (max-width: 360px) {
  .rating > label:before {
    font-size: 0.8em;
  }
}
.rating {
  border: none;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin-right: 5px;
/*   margin-top: 10px;
 */  font-size: 0.9em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #fff;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:checked,
.rating:not(:checked) > label:checked ~ label {
  color: black;
}

.rating > input:checked + label:checked,
.rating > input:checked ~ label:checked,
.rating > label:checked ~ input:checked ~ label,
.rating > input:checked ~ label:checked ~ label {
  color: #d85d61;
}

.blue > input:checked ~ label,
.blue:not(:checked) > label:checked,
.blue:not(:checked) > label:checked ~ label {
  color: #458997;
}

.blue > input:checked + label:checked,
.blue > input:checked ~ label:checked,
.blue > label:checked ~ input:checked ~ label,
.blue > input:checked ~ label:checked ~ label {
  color: #458997;
}

.purple > input:checked ~ label,
.purple:not(:checked) > label:checked,
.purple:not(:checked) > label:checked ~ label {
  color: #a76287;
}

.purple > input:checked + label:checked,
.purple > input:checked ~ label:checked,
.purple > label:checked ~ input:checked ~ label,
.purple > input:checked ~ label:checked ~ label {
  color: #a76287;
}

.yellow > input:checked ~ label,
.yellow:not(:checked) > label:checked,
.yellow:not(:checked) > label:checked ~ label {
  color: #ffad58;
}

.yellow > input:checked + label:checked,
.yellow > input:checked ~ label:checked,
.yellow > label:checked ~ input:checked ~ label,
.yellow > input:checked ~ label:checked ~ label {
  color: #ffad58;
}

.dark-purp > input:checked ~ label,
.dark-purp:not(:checked) > label:checked,
.dark-purp:not(:checked) > label:checked ~ label {
  color: #905587;
}

.dark-purp > input:checked + label:checked,
.dark-purp > input:checked ~ label:checked,
.dark-purp > label:checked ~ input:checked ~ label,
.dark-purp > input:checked ~ label:checked ~ label {
  color: #905587;
}


.author-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  object-fit: cover;
  object-position: center;
}

.year-book-img {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  
}

.year-book-name {
  margin-bottom: 15px;
  font-weight: 500;
  cursor : pointer;
  font-size : 13px;
}

.year-book-author {
  font-size: 13px;
}


.year-book + .year-book {
  margin-top: 20px;
}

.year-book-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.author + .author {
  margin-top: 20px;
}


.author:last-child {
  margin-bottom: 40px;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f2f5f7 65%, #f2f5f7 100%);
  height: 60px;
  margin-left: -35px;
}

.platform_right{
	line-height: 1.5em;
	margin:0 auto;
	padding:2em 0 3em;
	width: 90%;
	max-width: 2000px;
	overflow: hidden;
}

table {
	border-collapse: collapse;
	width: 100%;
	background: #fff;
}

th {
	background-color: var(--body-color);
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
}

td,th {
	padding:1em 1.5em;
	text-align: left;
/* 	height:75px; */
}

tbody th {
	background-color: #2ea879;
}

tbody tr:nth-child(2n-1) {
	background-color: #f5f5f5;
	transition: all .125s ease-in-out;
}

tbody tr:hover {
	background-color: rgba(50,98,149,.3);
}
tbody tr td:nth-child(4){word-break: break-all;}
tbody tr td:nth-child(5){padding:1em 0.5em;}

td.rank {
	text-transform: capitalize;
}


.1{
	padding :70px;	
}

.ranking_table {
	width: 100%;
}
.platform_main {
	padding-top: 50px;
	display: flex;
	background-color: #f5f5f5;
}

.platform_right {
	margin-left: 5%;
}

.pagination {
    margin: 3% 6%;
    clear:both;
    float:right;
    width:auto;
  }
    .pagination.right {
      float:right;
    }
    .pagination li {
      float:left;
      list-style: none;
    }
    .pagination a, .pagination li > span {
      display:block;
      padding:0 6px;
      border:1px solid #CCC;
      font-weight:bold;
      text-decoration:none;
    }
      .pagination li > span {
        border-color:#932915;
        background:#932915;
        color:#FFF;
      }
        .pagination .pagination-prev, .pagination .pagination-next { border:none; }
  
    .pagination.button {
      border-radius:8px;
      padding:3px 3px 3px 0;
      background-color:#EEE;
      border:1px solid #c1c1c1;
    }
      .pagination.button li {
      float:left;
      margin-left:3px;
    }
          .pagination.button li a, .pagination.button li > span {
        display:inline-block;
        padding:4px 12px;
        border:1px solid #B4B4B4;
        margin:0;
        border-radius:5px;
        vertical-align:middle;
        color:#6D6C71;
        font-size:12px;
        text-decoration:none;
        text-align:center;
        cursor:pointer;
        background: linear-gradient(top, #fff 0%,#eaeaea 100%);
        box-shadow:0 0 5px 0 rgba(0,0,0,0.1),
                   0 8px 3px 0 rgba(0,0,0,0.1);
      }
          .pagination.button li > span { margin:0 2px 0 0; }
              .pagination.button li a:active, .pagination.button li > span:active {
                  background:linear-gradient(top, #EEE 0, #CCC 100%);
                  background:#EEE;
        }
        .pagination.button .active > a, .pagination.button .active > span {
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
                .pagination.button .active > span {
                    color:#53B348;
          }
              .pagination.button li:first-child a span, .pagination.button li:last-child a span {
          display:block;
          overflow:hidden;
          width:28px;
          white-space:nowrap;
        }
              .pagination.button li:first-child a, .pagination.button li:first-child > span { border-radius:5px; }
              .pagination.button li:last-child a, .pagination.button li:last-child > span { border-radius:5px; }
                  .pagination.button li:first-child a span:before, .pagination.button li:last-child a span:before {
            position:relative;
            display:inline-block;
            width:14px;
            height:14px;
            padding:0;
            margin:0 6px 0 0;
            font-family:'iconic';
            font-weight:normal;
            line-height:105%;
            vertical-align:text-top;
          }
          
          .pagination-prev :hover {
          	color: black;
          }
          
          .pagination-next :hover {
          	color: black;
          }
          
.pf, .sort {
    padding: 5px;    
    padding-top : 10px;
    margin: 10px;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.pf select {
    padding: 5px 8px;
    width: 20%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.sort select {
    padding: 5px 8px;
    width: 20%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.sort_pf {
	left : 50%;
	height: 10%;
	display: inline-table;	
	width: 100%;
}



#seethedetail_reddead{
	text-decoration: none;
}

#mask {
	position: absolute;
	z-index: 9000;
	background-color: #000;
	display: none;
	left: 0;
	top: 0;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius : 5px;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



img {
  max-width: 100%;
}




.header, .browse, .browse-category, .profile, .profile-menu, .main-menu, .author, .year-book, .likes {
  display: flex;
  align-items: center;
}

.browse {
	margin-right : 10px;
}

.main_visual {
  display: flex;
  flex-direction: column;
 /* max-width: 1400px;
  height: 100vh;*/
  background-color: var(--page-bg-color);
  margin: 0 auto;
  overflow: hidden;
 /* box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);*/
}

.header {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 500;
  color: var(--body-color-light);
  justify-content: space-between;
  flex-shrink: 0;
}

.search-bar {
}
.search-bar input {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  font-weight: 600;
  padding: 0 10px 0 40px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%238b939c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 15px 50%;
  color: var(--body-color);
  font-family: var(--body-font);
}
.search-bar input::placeholder {
  color: var(--placeholder);
}

.browse-category {
  border-right: 1px solid var(--border-color);
  white-space: nowrap;
}
.browse-category svg {
  width: 16px;
  margin: 2px 10px 0 8px;
}

.header-title {
  font-size: 260%;
  font-weight: 400;
  margin-left:0px;
}
.header-title span {
  font-weight: 500;
  color: var(--body-color);
}

.main_menu {
	position:relative;
	margin-left: 100px;
	width: 45%;
}

.main_menu span {
	font-weight:200;
	font-size:160%;
	width:100%;
	height:100%;
}
.menu_pc, .menu_ps4, .menu_xbox  {
	cursor : pointer;
	margin-right: 17%;
}
.menu_switch {
	cursor : pointer;
}

.main_menu span:hover {
	color:var(--body-color);
	border-bottom:1px solid var(--body-color)
}
.footer {
	text-align : center;
	color: var(--placeholder);
}
.user-img {
  width: 50px;
  height: 30px;
  border-radius: 50%;
}

.user-profile {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.profile {
  flex-shrink: 0;
}
.profile-menu {
  border-left: 1px solid var(--border-color);
  margin-right: 15px
}
.profile svg {
  width: 16px;
  margin: 0 8px 0 15px;
  flex-shrink: 0;
}





.book-slide {
  width: 100%;
}

.book {
  background: #fff;
}

.book-cell {
  position: relative;
  display: flex;
  padding: 25px;
  width: 65%;
  height: 450px;
  
}
.book-cell:nth-child(1) {
  background-image:url("https://images6.alphacoders.com/788/thumb-1920-788051.jpg");
  background-size:cover;
}
.book-cell:nth-child(2) {
  background-image:url("http://i.imgur.com/gXzK0eL.jpg");
  background-size:cover;
}
.book-cell:nth-child(3) {
  background-image:url("https://images7.alphacoders.com/749/thumb-1920-749807.png");
  background-size:cover;
}
.book-cell:nth-child(4) {
  background-image:url("https://expertgamereviews.com/wp-content/uploads/2020/06/How-to-Play-TeamFight-Tactics-Complete-Guide.jpg");
  background-size:cover;
}
.book-cell:nth-child(5) {
  background-image:url("https://images8.alphacoders.com/710/thumb-1920-710329.jpg");
  background-size:cover;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button .arrow {
  fill: #d6d6d6;
}

.flickity-prev-next-button svg {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
}

.flickity-prev-next-button.previous {
  left: 15px;
}
.flickity-prev-next-button.next {
  right: 15px;
}

.flickity-viewport {
  overflow: visible;
}

.book-photo {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  bottom: -35px;
  left: 35px;
  border-radius: 2px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  transition: .3s ease;
}
.book-photo:hover {
  transform: scale(1.03);
}

.book-img {
  flex-shrink: 0;
}

.book-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book-title {
  color: #ffffff;
  font-weight: 600;
}

.book-author {
  margin-top: 3px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book-content {
  padding: 0 20px;
  color: #ffffff;
  overflow: hidden;
}

fieldset,
label {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 0.5em;
  margin: 10px;
}

.rating {
  border: none;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin-right: 5px;
  margin-top: 10px;
  font-size: 0.9em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #fff;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:checked,
.rating:not(:checked) > label:checked ~ label {
  color: black;
}

.rating > input:checked + label:checked,
.rating > input:checked ~ label:checked,
.rating > label:checked ~ input:checked ~ label,
.rating > input:checked ~ label:checked ~ label {
  color: #d85d61;
}

.blue > input:checked ~ label,
.blue:not(:checked) > label:checked,
.blue:not(:checked) > label:checked ~ label {
  color: #458997;
}

.blue > input:checked + label:checked,
.blue > input:checked ~ label:checked,
.blue > label:checked ~ input:checked ~ label,
.blue > input:checked ~ label:checked ~ label {
  color: #458997;
}

.purple > input:checked ~ label,
.purple:not(:checked) > label:checked,
.purple:not(:checked) > label:checked ~ label {
  color: #a76287;
}

.purple > input:checked + label:checked,
.purple > input:checked ~ label:checked,
.purple > label:checked ~ input:checked ~ label,
.purple > input:checked ~ label:checked ~ label {
  color: #a76287;
}

.yellow > input:checked ~ label,
.yellow:not(:checked) > label:checked,
.yellow:not(:checked) > label:checked ~ label {
  color: #ffad58;
}

.yellow > input:checked + label:checked,
.yellow > input:checked ~ label:checked,
.yellow > label:checked ~ input:checked ~ label,
.yellow > input:checked ~ label:checked ~ label {
  color: #ffad58;
}

.dark-purp > input:checked ~ label,
.dark-purp:not(:checked) > label:checked,
.dark-purp:not(:checked) > label:checked ~ label {
  color: #905587;
}

.dark-purp > input:checked + label:checked,
.dark-purp > input:checked ~ label:checked,
.dark-purp > label:checked ~ input:checked ~ label,
.dark-purp > input:checked ~ label:checked ~ label {
  color: #905587;
}

.book-voters {
  color: #fff;
  vertical-align: sub;
  font-size: 13px;
  margin-left: 7px;
  white-space: nowrap;
  margin-top: 7px;
}

.book-sum {
  margin-top: 20px;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.login_button1{
  text-align: center;
  background:#e1e1e1;
  font-weight: 600;
  font-size: 14px;
  width: 100px;
  padding: 8px;
  border-radius: 20px;
  cursor : pointer;
}

.login_button2{
  text-align: center;
  background:#e1e1e1;
  font-weight: 600;
  font-size: 14px;
  width: 100px;
  padding: 8px;
  border-radius: 20px;
  cursor : pointer;
}
.login_text {
	color:white;
}

.login_text:hover{
	color:black;
}

.signup_text {
	color : white;
}
.signup_text:hover {
	color:black;
}

.book-see {
  margin-top: 25px;
  text-align: center;
  background:rgba(0,0,0,0.3);
  color: white;
  font-weight: 600;
  padding: 8px;
  font-size: 14px;
  width: 160px;
  border-radius: 30px;
}
.book-see:hover {
  color: black;
}
.book-see.book-blue {
  color: #a4e0eb;
}
.book-see.book-blue:hover {
  color: #22cdec;
}
.book-see.book-pink {
  color: #edb9d6;
}
.book-see.book-pink:hover {
  color: #ff6dbe;
}
.book-see.book-yellow {
  color: #fdca95;
}
.book-see.book-yellow:hover {
  color: #fb9124;
}
.book-see.book-purple {
  color: #cbb5e2;
}
.book-see.book-purple:hover {
  color: #a764ec;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-top: 100px;
  overflow: hidden;
}

.books-of {
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.popular-books {
  flex-grow: 1;
  padding: 0 30px 50px;
  overflow-y: auto;
}

.genre {
  font-weight: 500;
  font-size: 30px;
}

.main-menu {
  white-space: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcddde;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--page-bg-color);
  z-index: 2;
}


.week {
  padding: 40px 30px;
}

.author + .author {
  margin-top: 20px;
}
.author-name {
  font-size: 14px;
  cursor : pointer;
}
.author:last-child {
  margin-bottom: 40px;
}

.author-title {
  padding-top: 60px;
  padding: 0 0 20px;
  font-weight: 500;
  font-size: 20px;
}

.author-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  object-fit: cover;
  object-position: center;
}

.year-book-img {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  
}
.year-book-name {
  margin-bottom: 15px;
  font-weight: 500;
  cursor : pointer;
  font-size : 13px;
}
.year-book-author {
  font-size: 13px;
}
.year-book + .year-book {
  margin-top: 20px;
}

.year-book-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f2f5f7 65%, #f2f5f7 100%);
  height: 60px;
  margin-left: -35px;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-top: 40px;
  position: relative;
}

.book-card {
  margin-top: 20px;
  background-color: #fff;
  height: 270px;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 0 20px 20px;
  color: var(--body-color-light);
}

.book-card-img {
  width: 200px;
  height: 200px;
  margin-top: -35px;
  border-radius: 2px;
  box-shadow: 0px 1px 7px 2px #c7c9d3;
  border-bottom: 1px solid #dcddde;
  object-fit: cover;
  margin-bottom: 20px;
  transition: .3s ease;
}
.book-card-img:hover {
  transform: scale(1.04);
}

.card-content {
  color: var(--body-color);
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.book-name {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-by {
  font-size: 13px;
  color: var(--body-color-light);
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-rate > label {
  color: #cccccc;
}

.rate {
  display: inline-block;
  white-space: nowrap;
}

.book-rate > input:checked ~ label,
.book-rate:not(:checked) > label:checked,
.book-rate:not(:checked) > label:checked ~ label {
  color: #ff9700;
}

.book-rate > input:checked + label:checked,
.book-rate > input:checked ~ label:checked,
.book-rate > label:checked ~ input:checked ~ label,
.book-rate > input:checked ~ label:checked ~ label {
  color: #ff9700;
}

.card-vote {
  color: var(--body-color-light);
}

.card-sum {
  color: var(--body-color-light);
  font-size: 13px;
  line-height: 1.6em;
  -webkit-line-clamp: 4;
  margin-top: 15px;
}

.content-wrapper {
  display: flex;
  border-bottom: 1px solid #ebedef;
  position: relative;
}
.content-wrapper:before {
  content: "";
  position: absolute;
  background-color: #8f98a9;
  background-color: #aaaebc;
  box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
  width: 4px;
  height: 4px;
  border: 0;
  padding: 0;
  right: 12px;
  top: 17px;
  border-radius: 50%;
  margin-left: auto;
}

.like-profile {
  margin-top: 8px;
}
.like-profile + .like-profile {
  margin-left: -5px;
}

.like-img {
  border-radius: 50%;
  width: 28px;
  object-fit: cover;
  border: 2px solid #fff;
}

.like-name {
  font-size: 13px;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.like-name>span {
  font-weight: 600;
}

@media (max-width: 1103px) {
  .book-cell {
    width: 60%;
    
  }
}
@media (max-width: 765xp) {
  .book-cell {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .book-cell {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .book-cell {
    width: 100%;
  }
}
@media (max-width: 458px) {
  .book-photo {
    width: 180px;
  }

  .book-voters {
    display: none;
  }
}
@media (max-width: 420px) {
  .book-see {
    width: 120px;
    font-size: 13px;
  }

  .book-photo {
    width: 130px;
  }

  .main-wrapper {
    margin-top: 50px;
  }
}
@media (max-width: 360px) {
  .rating > label:before {
    font-size: 0.8em;
  }
}
@media (max-width: 1220px) {
  .card-vote {
    display: none;
  }
}
@media (max-width: 1085px) {
  .book-rate > label {
    font-size: .7em;
  }
}
@media (max-width: 1045px) {
  .books-of {
    display: none;
  }
}
@media (max-width: 725px) {
  .wse-category, .search-bar {
    display: none;
  }

  .header-title {
    margin-right: auto;
  }

  .book-cards {
    grid-template-columns: 1fr;
  }

  .book-types {
    display: none;
  }
}
@media (max-width: 372px) {
  .card-content {
    padding: 20px;
  }
}

.name a {
   text-decoration: none;
   color: black;
}